$cor-texto: #313135;

* {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: normal;
  font-size: 14px;  
  color: $cor-texto;
}

ul,label,p,div,h1,h3{
  padding: 0px;
  margin: 0px;
}

body{
  padding-top: 40px;
  overflow-x: hidden;

  .container{
    position: relative;
  }

  .bag-container{
    top: 0px;
    right: 15px;
    width: 33px;
    height: 40px;
    position: absolute;

    .bag{
      top: 10px;
      z-index: 10;
      cursor: pointer;
      position: fixed;

      span{
        @extend .bag-produtos;
      }
    }
  }
}

header{
  *{
  	font-weight: normal;
  }
}