.remove{
	opacity: 0.5;

	*{
	    text-decoration: line-through;
	}

	.remover span{
		color: white;
		text-decoration: none;
	}
}

.item-carrinho{    
	margin: 0px 20px;
	position: relative;

	.item{
		padding: 20px;
		border-bottom: solid 2px $corBorda;

		&:hover{
			cursor: pointer;
			background: #131316;

			.remover span{
				color: white;
			}
		} 
	}       

    .imagem{
    	width: 60px;
    	display: inline-block;

        img{
            width: 50px;
            height: 50px;
        }
    }

    .detalhes{
    	display: inline-block;
    	p{
    		line-height: 18px;
    	}

    	.nome{
    		color: white;
    	}

    	span{
    		color: $corTextoSub;
    	}
    }

    .remover{
    	text-align: right;

    	span{
    		color: black;
    		font-size: 20px;
    	}

    	.preco{
    		font-size: 16px;
    		margin-top: 10px;
    		color: $corDetasque;

    		strong{
    			font-size: 16px;
				color: $corDetasque;    			
    		}
    	}
    }

    .table{
    	display: table;
    	margin-bottom: 0px;

    	&>div{
    		display: table-cell;
    		vertical-align: top;
    	}
    }
}